/* Tailwind config */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: none;
  min-height: 200px;
  max-height: 200px;
}

@media (min-width: 300px) and (max-width: 768px) {
  textarea {
    min-height: 260px;
    max-height: 260px;
  }
}

.marker-text-1 {
  position: relative;
}

.marker-text-1::before {
  content: "";
  position: absolute;
  left: 45%;
  bottom: 5px;
  width: 210px;
  height: 25px;
  transform: skew(-14deg) translateX(-40%);
  background: rgba(253, 233, 151, 1);
  z-index: -1;
}

.marker-text-2 {
  position: relative;
}

.marker-text-2::before {
  content: "";
  position: absolute;
  left: 45%;
  bottom: 5px;
  width: 130px;
  height: 25px;
  transform: skew(-16deg) translateX(-40%);
  background: rgba(253, 233, 151, 1);
  z-index: -1;
}

.marker-text-3 {
  position: relative;
}

.marker-text-3::before {
  content: "";
  position: absolute;
  left: 15%;
  bottom: 4px;
  width: 190px;
  height: 25px;
  transform: skew(-17deg) translateX(-232%);
  background: rgba(253, 233, 151, 1);
  z-index: -1;
}
